body
{
    color: crimson;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: #117;
    color: azure;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
}

#contenedor
{
    width: 70%;
    padding:  1em;
    text-align: left;
    border: 1px solid #DDD;
}
#contenedor h1
{
    font-size: 20px;
}